.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 6.5rem;
    background-color: #005383;
  }
  
  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    padding-bottom: 10px;
    cursor: pointer;
  }
  
  .logoImage {
    margin-right: 1rem;
  }
  
  .d1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 0 2rem;

  }


@media (max-width: 768px) {
    .header {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 12rem;
    }
  
    .links {
      margin-top: 1rem;
      font-size: 1rem;
    }
  
    .logoImage {
      margin-left: 25%;
    }
  
    .d1 {
      margin-top: 1rem;
      width: 95px;
    }
  }