.clientContainer {
  background-color: #f2f2f28a;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 55%;
  margin: 1rem auto;
}

.mainText {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.clientList {
  margin-top: 20px;
}

.clients {
  background-color: #ffffff9c;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.clientInfo p {
  margin: 5px 0;
  font-size: 16px;
  color: #666;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.buttons svg {
  width: 24px;
  height: 24px;
  fill: #333;
  cursor: pointer;
  margin-left: 10px;
  transition: fill 0.3s ease;
}

.btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.actions svg {
  width: 24px;
  height: 24px;
  fill: #333;
  cursor: pointer;
  margin-left: 10px;
  transition: fill 0.3s ease;
}


.p {
  margin: 5px 0;
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}

.fundo {
  background-image: url("https://th.bing.com/th/id/R.799ee331d8689f3e2c7e35766642db79?rik=jnsP9oMvfVKxTw&pid=ImgRaw&r=0");
  background-repeat: space;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  .fundo {
    background-image: url("https://mobimg.b-cdn.net/v3/fetch/53/530ee413e3927aaaafa06ffa35621d0d.jpeg?h=1000");
    height: fit-content;
  }
}