.successMessage {
  background-color: #28a745;
  color: #fff;
  padding: 1rem;
  width:100%;
  border-radius:10px;
}

.errorMessage {
  background-color: #dc3545;
  color: #fff;
  padding: 1rem;
  width:100%;
  border-radius:10px;
}

.notShow {
  display: none;
}